<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IPosyandu"
        tools:targetApi="31">
        <activity
            android:name=".keluar_peserta"
            android:exported="false" />
        <activity
            android:name=".lupa_password_peserta"
            android:exported="false" />
        <activity
            android:name=".ganti_password_peserta"
            android:exported="false" />
        <activity
            android:name=".keamanan_akun"
            android:exported="false" />
        <activity
            android:name=".notifikasi_peserta"
            android:exported="false" />
        <activity
            android:name=".hasil_diagnosis"
            android:exported="false" />
        <activity
            android:name=".jadwal_posyandu_hari_ini"
            android:exported="false" />
        <activity
            android:name=".Catatan_hasil_imunisasi"
            android:exported="false" />
        <activity
            android:name=".Catatan_pemberian_kb"
            android:exported="false" />
        <activity
            android:name=".ui.Hasil_catatan_obat"
            android:exported="false" />
        <activity
            android:name=".HomeKaderActivity"
            android:exported="false" />
        <activity
            android:name=".HomePesertaActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".data_obat"
            android:exported="false" />
        <activity
            android:name=".Pelayanan_kesehatan"
            android:exported="false" />
        <activity
            android:name=".Tambah_Peserta"
            android:exported="false" />
        <activity
            android:name=".kader_brcode"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="info.vividcode.android.zxing.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>